body {
	background-color: black;
	background-image: url("human_brain-wallpaper-1366x768.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
	/*background-color:#00BAC7;*/
    text-align: center;
}

h2 {
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.5);
	font-family: 'Comforter', cursive;
}

h3 {
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.5);
	font-family: 'Comforter', cursive;
}

p {
	font-size: 16pt;
	line-height: 150%;
	padding:10px;
	background-color: rgba(242,242,242,0.6);
	width: 900px;
	height: auto;
	text-align: center;
	margin: auto;
	font-family: 'Comforter', cursive;
}

